= simple_form_for @song, html: { multipart: true } do |f|
	- if @song.errors.any?
		#errors
			%p
				= @song.errors.count
				Prevented this song froms saving
			%ul
				- @song.errors.full_messages.each do |msg|
					%li= msg
	= f.input :title, input_html: { class: 'form-control' }
	%h3 Links
	= f.simple_fields_for :links do |link|
		= render 'link_fields', f: link
	.links
		= link_to_add_association 'add link', f, :links	
	= f.button :submit, class: "btn btn-primary"

= link_to "Back", root_path, class: "btn btn-default"