%h1= @song.title
%p= simple_format @song.description

%h2 Links
%ul
	- @song.links.each do |link|   
		%li= link.title
		%li= link.description
		%li= image_tag link.image
		%li= link.link
		%li= link.embed

=link_to "Back", root_path, class: "btn btn-default"
=link_to "Edit", edit_song_path, class: "btn btn-default"
=link_to "Delete", song_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"